nav{
    display: flex;
    justify-content: center;
    background-color: black;
    margin: 1rem auto;
    width: 80vw;
    padding: 10px 20px;
    overflow-x: auto;

}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}
nav li{ 
    padding: 20px; 
    margin: 4px;
    background-color:rgb(74, 74, 74);
    list-style: none;
    border-radius: 10px;
}
nav a{
    text-decoration: none;
    color: white;

}
li 
{
    padding: 20px; ;
    margin: 4px;
    background-color:rgb(57, 51, 51);

}
nav li:hover{
    background-color: gray;
}
body{
    background-color: bisque;
    margin: 0;
}
/*  */
main{
    height: 80vh;
    padding: 10px;
}
footer{
    background-color: black;
    padding: 10px;
    color: white;
}
tr:nth-child(even){
    background-color: aqua;

}
tr:nth-child(odd){
    background-color: white;

}

.container {
    width: 400px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
